/* .special-background {
  background-image: url("../../../assets/pexels-birkaybolushikayesi-19283227.jpg");
  background-size: cover;
  height: max-content;
} */

img {
  width: 150px;
  margin-left: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: 50px;
  font-size: 20px;
}
li {
  /* border: 2px solid black; */
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: orange;
  opacity: 70%;
  font-weight: bold;
}
li:hover {
  background-color: darkgreen;
  color: white;
}
.hike {
  display: flex;
  justify-content: center;
  color: green;
  font-size: 25px;
  font-style: italic;
  margin-left: 170px;
  margin-right: 170px;
  margin-bottom: 40px;
  padding: 10px;
  background-color: orange;
}
.hikes {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cards {
  background-color: white;
  display: flex;
  margin: 30px;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  padding: 20px;
  gap: 10px;
  border-radius: 20px;
  width: 300px;
  /* height: 450px; */
  margin: 20px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}
.cards:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.cards > img {
  width: 18vw;
  margin-left: -5px;
}
.cards > p {
  font-size: 20px;
}

.cards > button {
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  background-color: orange;
  border: none;
  font-style: bold;
}
.samburu {
  height: 30vh;
}
.cultural {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.gateway {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
