
<div class="content special-background">
    <nav>
        <img src="../../../assets/Mogrec Ventures png-02.png" alt="company" />

  <div class="list">
    <li routerLink="">Home</li>
    <li routerLink="/newDestination">Add Destination</li>
    <li routerLink="/register">Register</li>
    <li routerLink="/login">Login</li>
  </div>
  </nav>

<div class="main">

      <div class="cards">
        <h1>KILIMANJARO</h1>
        <img src="../../../assets/pexels-antony-trivet-13245698.jpg" alt="">
        <p>Majestic Kilimanjaro, Africa's highest peak, offers awe-inspiring vistas, diverse ecosystems, and a challenge for adventurous souls. 
          Conquer its heights, immerse in its beauty, and create unforgettable memories.</p>
          <button>BOOK NOW</button>
      </div>

      <div class="cards">
        <h1>KILIMANJARO</h1>
        <img src="../../../assets/pexels-antony-trivet-13245698.jpg" alt="">
        <p>Majestic Kilimanjaro, Africa's highest peak, offers awe-inspiring vistas, diverse ecosystems, and a challenge for adventurous souls. 
          Conquer its heights, immerse in its beauty, and create unforgettable memories.</p>
          <button>BOOK NOW</button>
      </div>

      <div class="cards">
        <h1>KILIMANJARO</h1>
        <img src="../../../assets/pexels-antony-trivet-13245698.jpg" alt="">
        <p>Majestic Kilimanjaro, Africa's highest peak, offers awe-inspiring vistas, diverse ecosystems, and a challenge for adventurous souls. 
          Conquer its heights, immerse in its beauty, and create unforgettable memories.</p>
          <button>BOOK NOW</button>
      </div>


      <div class="cards">
        <h1>KILIMANJARO</h1>
        <img src="../../../assets/pexels-antony-trivet-13245698.jpg" alt="">
        <p>Majestic Kilimanjaro, Africa's highest peak, offers awe-inspiring vistas, diverse ecosystems, and a challenge for adventurous souls. 
          Conquer its heights, immerse in its beauty, and create unforgettable memories.</p>
          <button>BOOK NOW</button>
      </div>

      <div class="cards">
        <h1>KILIMANJARO</h1>
        <img src="../../../assets/pexels-antony-trivet-13245698.jpg" alt="">
        <p>Majestic Kilimanjaro, Africa's highest peak, offers awe-inspiring vistas, diverse ecosystems, and a challenge for adventurous souls. 
          Conquer its heights, immerse in its beauty, and create unforgettable memories.</p>
          <button>BOOK NOW</button>
      </div>

      <div class="cards">
        <h1>KILIMANJARO</h1>
        <img src="../../../assets/pexels-antony-trivet-13245698.jpg" alt="">
        <p>Majestic Kilimanjaro, Africa's highest peak, offers awe-inspiring vistas, diverse ecosystems, and a challenge for adventurous souls. 
          Conquer its heights, immerse in its beauty, and create unforgettable memories.</p>
          <button>BOOK NOW</button>
      </div>
</div>


</div>
