<div >
  <nav>
    <img src="../../../assets/Mogrec Ventures png-02.png" alt="company" />

    <div class="list">
      <li routerLink="">Home</li>
      <li routerLink="/newDestination">Booking</li>
      <li routerLink="/register">Register</li>
      <li routerLink="/login">Login</li>
    </div>
  </nav>

  <div class="hike"><h1>HIKES</h1></div>
  <div class="hikes">
    <div class="cards">
      <h1>KILIMANJARO</h1>
      <img src="../../../assets/pexels-antony-trivet-13245698.jpg" alt="" />
      <p>
        Majestic Kilimanjaro, Africa's highest peak, offers awe-inspiring
        vistas, diverse ecosystems, and a challenge for adventurous souls.
        Conquer its heights, immerse in its beauty, and create unforgettable
        memories.
      </p>
      <button routerLink="/newDestination">BOOK NOW</button>
    </div>

    <div class="cards">
      <h1>KILIMANJARO</h1>
      <img src="../../../assets/pexels-antony-trivet-13245698.jpg" alt="" />
      <p>
        Majestic Kilimanjaro, Africa's highest peak, offers awe-inspiring
        vistas, diverse ecosystems, and a challenge for adventurous souls.
        Conquer its heights, immerse in its beauty, and create unforgettable
        memories.
      </p>
      <button>BOOK NOW</button>
    </div>

    <div class="cards">
      <h1>KILIMANJARO</h1>
      <img src="../../../assets/pexels-antony-trivet-13245698.jpg" alt="" />
      <p>
        Majestic Kilimanjaro, Africa's highest peak, offers awe-inspiring
        vistas, diverse ecosystems, and a challenge for adventurous souls.
        Conquer its heights, immerse in its beauty, and create unforgettable
        memories.
      </p>
      <button>BOOK NOW</button>
    </div>

    <div class="cards">
      <h1>KILIMANJARO</h1>
      <img src="../../../assets/pexels-antony-trivet-13245698.jpg" alt="" />
      <p>
        Majestic Kilimanjaro, Africa's highest peak, offers awe-inspiring
        vistas, diverse ecosystems, and a challenge for adventurous souls.
        Conquer its heights, immerse in its beauty, and create unforgettable
        memories.
      </p>
      <button>BOOK NOW</button>
    </div>

    <div class="cards">
      <h1>KILIMANJARO</h1>
      <img src="../../../assets/pexels-antony-trivet-13245698.jpg" alt="" />
      <p>
        Majestic Kilimanjaro, Africa's highest peak, offers awe-inspiring
        vistas, diverse ecosystems, and a challenge for adventurous souls.
        Conquer its heights, immerse in its beauty, and create unforgettable
        memories.
      </p>
      <button>BOOK NOW</button>
    </div>

    <div class="cards">
      <h1>KILIMANJARO</h1>
      <img src="../../../assets/pexels-antony-trivet-13245698.jpg" alt="" />
      <p>
        Majestic Kilimanjaro, Africa's highest peak, offers awe-inspiring
        vistas, diverse ecosystems, and a challenge for adventurous souls.
        Conquer its heights, immerse in its beauty, and create unforgettable
        memories.
      </p>
      <button>BOOK NOW</button>
    </div>
    <!-- <button class="prev-btn">&lt;</button>
    <button class="next-btn">&gt;</button> -->
  </div>
  <div class="hike"><h1>CULTURAL EXCURSIONS</h1></div>
  <div class="cultural">
    <div class="cards">
      <h1>SAMBURU</h1>
      <img class="samburu" src="../../../assets/warrior-4371555_1280.jpg" alt="" />
      <p>
        Samburu, a region in Kenya, boasts a rich cultural heritage of the
        Samburu people. Experience their vibrant traditions, intricate beadwork,
        captivating dances, and deep connection to the land. Engage in
        homestays, learn about traditional medicine, and savor authentic cuisine
        for an immersive cultural journey."
      </p>
      <button>BOOK NOW</button>
    </div>

     <div class="cards">
      <h1>SAMBURU</h1>
      <img class="samburu" src="../../../assets/warrior-4371555_1280.jpg" alt="" />
      <p>
        Samburu, a region in Kenya, boasts a rich cultural heritage of the
        Samburu people. Experience their vibrant traditions, intricate beadwork,
        captivating dances, and deep connection to the land. Engage in
        homestays, learn about traditional medicine, and savor authentic cuisine
        for an immersive cultural journey."
      </p>
      <button>BOOK NOW</button>
    </div>

     <div class="cards">
      <h1>SAMBURU</h1>
      <img class="samburu" src="../../../assets/warrior-4371555_1280.jpg" alt="" />
      <p>
        Samburu, a region in Kenya, boasts a rich cultural heritage of the
        Samburu people. Experience their vibrant traditions, intricate beadwork,
        captivating dances, and deep connection to the land. Engage in
        homestays, learn about traditional medicine, and savor authentic cuisine
        for an immersive cultural journey."
      </p>
      <button>BOOK NOW</button>
    </div>

     <div class="cards">
      <h1>SAMBURU</h1>
      <img class="samburu" src="../../../assets/warrior-4371555_1280.jpg" alt="" />
      <p>
        Samburu, a region in Kenya, boasts a rich cultural heritage of the
        Samburu people. Experience their vibrant traditions, intricate beadwork,
        captivating dances, and deep connection to the land. Engage in
        homestays, learn about traditional medicine, and savor authentic cuisine
        for an immersive cultural journey."
      </p>
      <button>BOOK NOW</button>
    </div>

     <div class="cards">
      <h1>SAMBURU</h1>
      <img class="samburu" src="../../../assets/warrior-4371555_1280.jpg" alt="" />
      <p>
        Samburu, a region in Kenya, boasts a rich cultural heritage of the
        Samburu people. Experience their vibrant traditions, intricate beadwork,
        captivating dances, and deep connection to the land. Engage in
        homestays, learn about traditional medicine, and savor authentic cuisine
        for an immersive cultural journey."
      </p>
      <button>BOOK NOW</button>
    </div>

     <div class="cards">
      <h1>SAMBURU</h1>
      <img class="samburu" src="../../../assets/warrior-4371555_1280.jpg" alt="" />
      <p>
        Samburu, a region in Kenya, boasts a rich cultural heritage of the
        Samburu people. Experience their vibrant traditions, intricate beadwork,
        captivating dances, and deep connection to the land. Engage in
        homestays, learn about traditional medicine, and savor authentic cuisine
        for an immersive cultural journey."
      </p>
      <button>BOOK NOW</button>
    </div>


     <div class="cards">
      <h1>SAMBURU</h1>
      <img class="samburu" src="../../../assets/warrior-4371555_1280.jpg" alt="" />
      <p>
        Samburu, a region in Kenya, boasts a rich cultural heritage of the
        Samburu people. Experience their vibrant traditions, intricate beadwork,
        captivating dances, and deep connection to the land. Engage in
        homestays, learn about traditional medicine, and savor authentic cuisine
        for an immersive cultural journey."
      </p>
      <button>BOOK NOW</button>
    </div>
  </div>


  <div class="hike"><h1>WEEKEND GATEWAYS</h1></div>
  <div class="gateway">
     <div class="cards">
      <h1>NANYUKI</h1>
      <img class="Nanyuki" src="../../../assets/images.jpg" alt="" />
      <p>
        "Nanyuki, a gateway to Mount Kenya and wildlife reserves. Experience adventure sports, vibrant markets, and cultural diversity.
         Enjoy scenic beauty, luxury lodges, and warm hospitality in this charming town." </p>
         <button>BOOK NOW</button>
        </div>
 

     <div class="cards">
      <h1>NANYUKI</h1>
      <img class="Nanyuki" src="../../../assets/images.jpg" alt="" />
      <p>
        "Nanyuki, a gateway to Mount Kenya and wildlife reserves. Experience adventure sports, vibrant markets, and cultural diversity.
         Enjoy scenic beauty, luxury lodges, and warm hospitality in this charming town." </p>
         <button>BOOK NOW</button>
        </div>


     <div class="cards">
      <h1>NANYUKI</h1>
      <img class="Nanyuki" src="../../../assets/images.jpg" alt="" />
      <p>
        "Nanyuki, a gateway to Mount Kenya and wildlife reserves. Experience adventure sports, vibrant markets, and cultural diversity.
         Enjoy scenic beauty, luxury lodges, and warm hospitality in this charming town." </p>
         <button>BOOK NOW</button>
        </div>


     <div class="cards">
      <h1>NANYUKI</h1>
      <img class="Nanyuki" src="../../../assets/images.jpg" alt="" />
      <p>
        "Nanyuki, a gateway to Mount Kenya and wildlife reserves. Experience adventure sports, vibrant markets, and cultural diversity.
         Enjoy scenic beauty, luxury lodges, and warm hospitality in this charming town." </p>
         <button>BOOK NOW</button>
        </div>
</div>
