<!-- <p>register works!</p> -->
<body>
    
<div class="register">
  <form action="form" class="form">
    <!-- FULL NAME -->

    <div class="fullname">
      <label for="fullname" >Full name :</label> <br>
      <input type="text" />
    </div>

    <!-- EMAIL ADDRESS  -->
    <div class="email">
      <label for="email">Email :</label> <br>
      <input type="email" />
    </div>

    <!-- PHONE NUMBER -->
    <div class="phone-number">
      <label for="phone-number">Phone Number :</label> <br>
      <input type="text" />
    </div>

    <!-- PASSWORD -->
    <div class="password">
      <label for="password">Password :</label> <br>
      <input type="password" />
    </div>

    <!-- SUBMIT -->
    <div class="submit">
      <input type="submit" value="Create Account" />
    </div>
  </form>
</div>
</body>
