.content-wrapper {
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}
.list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  font-size: 20px;
}
li {
  /* background-color: rgb(19, 66, 19); */
  /* border: 2px solid white; */
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
li:hover {
  text-decoration-line: underline;
  border: none;
  /* background-color: white; */
}
nav > img {
  width: 15%;
}
