.error-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(135deg, #ff9f45, #ffbc80);
  text-align: center;
  gap: 20px;
}
img {
  border-radius: 20px;
}
.error.data {
  display: flex;
}
.error-container h1 {
  font-size: 6rem;
  margin-bottom: 20px;
}

.error-container p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.error-container a {
  font-size: 1.2rem;
  color: blue;
  text-decoration: none;
}

.error-container a:hover {
  text-decoration: underline;
}
