<div class="main">
  <nav>
    <img src="../../../assets/Mogrec Ventures png-02.png" alt="company" />
    <!-- <h1>Welcome to Mogrec Ventures</h1> -->

    <div class="list">
      <li routerLink="/tours">Tours</li>
      <li routerLink="">Home</li>
    </div>
  </nav>

  <!-- BOOKING A TRIP -->

  <div class="Booking">
    <form class="form" (ngSubmit)="Booking(bookingForm.value)"  #bookingForm ="ngForm">
      <h2>Book a Tour</h2>
      <br />
      <label for="fullName">Full Name:</label><br />
      <input
        type="text"
        id="Full_Name"
        name="Full_Name"
        placeholder="Enter your full name" ngModel
        required
      /><br /><br />

      <label for="trip">Trip:</label> <br />
      <input
        type="text"
        id="Trip"
        name="Trip"
        placeholder="Enter trip name" ngModel
        required
      /><br /><br />

      <!-- <label for="contactInfo">Contact Information:</label> <br />
      <input
        type="tel"
        id="contactInfo"
        name="contactInfo"
        placeholder="Enter contact information" ngModel
        required
      />
      <br />
      <br /> -->

      <label for="email">Email Address:</label> <br />
      <input
        type="email"
        id="Email"
        name="Email"
        placeholder="Enter your email address" ngModel
        required
      /><br /><br />

      
  
      <button type="submit" class="submit" > Book Now</button> 
    </form>
  </div>
</div>
