<app-navbar> </app-navbar>

<div class="content-wrapper">
  <div class="main">
    <h1>Welcome to Mogrec Ventures.</h1>
    <p>
      Embark on unforgettable adventures with our premier tours and travel
      company. From breathtaking landscapes to cultural immersion, we curate
      personalized experiences tailored to your wanderlust. Explore iconic
      landmarks, savor local cuisines, and create memories that last a lifetime.
      Start your journey with us today!
    </p>
    <button routerLink="/tours" class="book">BOOK NOW</button>
  </div>

//REVIEWS
    <div class="reviews">

</div>

</div>


