<app-navbar> </app-navbar>

<div class="content-wrapper">
  <div class="main">
    <h1>Welcome to Mogrec Ventures.</h1>
    <p>
      Embark on unforgettable adventures with our premier tours and travel
      company. From breathtaking landscapes to cultural immersion, we curate
      personalized experiences tailored to your wanderlust. Explore iconic
      landmarks, savor local cuisines, and create memories that last a lifetime.
      Start your journey with us today!
      <button routerLink="/tours" class="book">BOOK NOW</button>
    </p>
  </div>

  <!-- //REVIEWS -->
   <section aria-label="Newest Photos">
  <div class="reviews-carousel">
   
      <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
      <button class="carousel-button next" data-carousel-button="next">&#8658;</button>

    <div class="reviews-container">
      <ul class="slide" data-active >
        <img src="../../../assets/girl-4376755_1280.jpg" alt="" />
        <p class="review">Amanda Birgen</p>
        <p class="review">
          Mogrec Ventures delivered an exceptional tour experience! The guide
          was knowledgeable, accommodating, and made the journey enjoyable.
          Highly recommend for exploring new destinations.
        </p>
      </ul>
      <!-- Repeat for other reviews -->
      
<ul class="slide"  >
        <img src="../../../assets/images.jpg" alt="" />
        <p class="review">Amanda Birgen</p>
        <p class="review">
          Mogrec Ventures delivered an exceptional tour experience! The guide
          was knowledgeable, accommodating, and made the journey enjoyable.
          Highly recommend for exploring new destinations.
        </p>
      </ul>

    </div>
  </div>
</section>
</div>



