<!-- <p>register works!</p> -->
<app-navbar> </app-navbar>

<section>
  <div class="register">
    <form action="form" class="form">
      <!-- FULL NAME -->
      <h1>Register</h1>
      <div class="input-div">
        <label for="fullname">Full name :</label> <br />
        <input type="text" />
      </div>

      <!-- EMAIL ADDRESS  -->
      <div class="input-div">
        <label for="email">Email :</label> <br />
        <input type="email" />
      </div>

      <!-- PHONE NUMBER -->
      <div class="input-div">
        <label for="phone-number">Phone Number :</label> <br />
        <input type="text" />
      </div>

      <!-- PASSWORD -->
      <div class="input-div">
        <label for="password">Password :</label> <br />
        <input type="password" />
      </div>

      <!-- SUBMIT -->
      <!-- <div class="submit"> -->
        <input type="submit"  class="submit" value="Create Account" />
      <!-- </div> -->
    </form>
  </div>
</section>
