<!-- <p>register works!</p> -->
<app-navbar> </app-navbar>

<!-- register.component.html -->
<section>
  <div class="register">
    <form class="form" (ngSubmit)="registerUser(registerForm.value)" #registerForm="ngForm">
      <!-- FULL NAME -->
      <h1>Register</h1>
      <div class="input-div">
        <label for="fullName">Full name :</label> <br />
        <input type="text" name="fullName" ngModel required />
      </div>
    
      <!-- EMAIL ADDRESS  -->
      <div class="input-div">
        <label for="email">Email :</label> <br />
        <input type="email" name="email" ngModel required />
      </div>
    
      <!-- PHONE NUMBER -->
      <div class="input-div">
        <label for="phoneNumber">Phone Number :</label> <br />
        <input type="text" name="phoneNumber" ngModel required />
      </div>
    
      <!-- PASSWORD -->
      <div class="input-div">
        <label for="password">Password :</label> <br />
        <input type="password" name="password" ngModel required />
      </div>
    
      <!-- SUBMIT -->
      <button type="submit" class="submit">Create Account</button>
    </form>
    
  </div>
</section>

