<div>
  <nav>
    <div class="image">
      <img src="../../../assets/Mogrec Ventures png-02.png" alt="company" />
    </div>
  </nav>

  <div class="hike"><h1>TOURS</h1></div>
  <div class="hikes">
    <div class="cards" *ngFor="let tour of Tours; let i = index">
      <h1>{{ tour.Destination }}</h1>
      <img src="{{ tour.Image }}" alt="" />
      <p>{{ tour.Price }}</p>
      <p>{{ tour.Description }}</p>
      <div class="buttons">
        <button class="update">UPDATE</button>
        <button class="delete" (click)="deleteTour(tour.tourId)">DELETE</button>
      </div>
    </div>
  </div>
</div>
